
<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" >
            CLICK AGENCY
         </a>
      </div>
    </div>
        <ul class="navbar-nav ml-auto">
          <li class="button-container nav-item iframe-extern">
            <a  routerLink="/register" class="btn  btn-ros   btn-round btn-block" style="background-color: #f44336 !important;">
              <i class="material-icons">person</i> Register
            </a>
          </li>
        </ul>
  </nav>
<div class="page-header header-filter" style="background-image: url('../../../assets/img/kit/inventory.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form [formGroup]="loginForm"  >
            <div class="card card-login card-hidden">
              <div class="card-heade card-header-primar text-center" style=" background-color: #f44336 !important">
                <h4 class="card-title" >Login To CLICK AGENCY</h4>
              </div>
              <div class="card-body ">
               <br>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                     <input type="text"
                     [ngClass]="{'form-control': true,
                     'is-invalid': !username.valid && username.touched,
                     'is-valid': username.valid}"
                      formControlName="username"
                     class="form-control" 
                     
                     placeholder="Enter Username">
                     <small *ngIf="username.errors?.required && username.touched"
                   class="form-text custom-invalid-feedback" style="color: red;text-align: center;">
                   Field is required
                 </small>
                  </div>
                </span>
                <br>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
              
                    <input type="password" 
                    [ngClass]="{'form-control': true,
                    'is-invalid': !password.valid && password.touched,
                    'is-valid': password.valid}"
                    formControlName="password"
                    placeholder="Enter Password"
                    class="form-control"
                    >
                    <small *ngIf="password.errors?.required && password.touched"
                    class="form-text custom-invalid-feedback" style="color: red;text-align: center;">
                    Field is required
                  </small>
                  </div>

                </span>
              </div>
              <span style="color:#f44336" class="text-center">
                  Forgot Your Password? <a routerLink="/forget"> Click Here</a>
              </span>
              <div class="card-footer justify-content-center">
                <a (click)="login()" class="btn btn-rose btn-link btn-lg">Lets Go</a>
              </div>
            </div>
            </form>
        </div>
      </div>
    </div>
</div>