<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Campaign Lead List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="">
                  <th>
                    Name
                  </th>
                  <th>
                    Address
                  </th>
                  <th>
                    Phone
                  </th>
                  <th>
                    Website
                  </th>
                  <th>Email</th>
                  <th class="text-right" style="width: 15% !important;">action</th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Budget car rental
                    </td>
                    <td>
                      304 W 49th St Between, 8th Ave, New York, NY 10019, USA
                    </td>
                    <td class="text-primary">
                      (212) 397-4375
                    </td>
                    <td>
                      www.budget.com/en/location/us/ny/new-york-city/ny5
                    </td>
                    <td>custserv@BUDGET.com</td>
                    <td class="td-actions text-right">
                      <button mat-raised-button class="btn btn-info btn-link" type="button"
                      matTooltip="Add task"
                      matTooltipClass="example-tooltip-blue"
                     >
                        <span class="mat-button-wrapper">
                          <i class="material-icons">note_add</i>
                          </span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>

                      <button mat-raised-button type="button" class="btn btn-success btn-link"
                       matTooltip="Send mail"
                       matTooltipClass="example-tooltip-green"
                      >
                        <span  class="mat-button-wrapper">
                          <i class="material-icons">email</i>
                        </span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                      <button mat-raised-button="" type="button" class="btn btn-primary btn-link"
                       matTooltip="Copy URL"
                       matTooltipClass="example-tooltip-primary">
                        <span class="mat-button-wrapper">
                          <i class="material-icons">web</i>
                        </span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                      <button mat-raised-button="" type="button" class="btn btn-danger btn-link"
                       matTooltip="Delete Campaign"
                       matTooltipClass="example-tooltip-red">
                        <span class="mat-button-wrapper">
                          <i class="material-icons">delete_forever</i>
                        </span>
                        <div class="mat-button-ripple mat-ripple" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                    </td>
                    <!-- <td class="td-actions text-right">
                      <a href="">
                        <i class="material-icons">
                          note_add
                        </i>
                      </a>
                      <a href="">
                        <i class="material-icons">
                          email
                        </i>
                      </a>
                      <a href="">
                        <i class="material-icons">
                          web
                        </i>
                      </a>
                      <a href="">
                        <i class="material-icons">
                          delete_forever
                        </i>
                      </a>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
