table {
  width: 100%;
}
.example-tooltip-blue {
  background: #054f5c;
  color: #fff !important;
}

.example-tooltip-green {
  background: #055c09;
  color: #fff !important;
}

.example-tooltip-primary {
  background: #831c96;
  color: #fff !important;
}

.example-tooltip-red {
  background: #9e1616;
  color: #fff !important;
}