
<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" >
            CLICK AGENCY </a>
      </div>
    </div>
        <ul class="navbar-nav ml-auto">
          <li class="button-container nav-item iframe-extern">
            <a  routerLink="/login" class="btn  btn-rose   btn-round btn-block" style="background-color: #f44336 !important;">
              <i class="material-icons">person</i> Login
            </a>
          </li>
        </ul>
  </nav>
<div class="page-header header-filter" style="background-image: url('../../../assets/img/kit/inventory.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <!-- <form class="form" > -->
            <div class="card card-login card-hidden">
              <div class="card-heade card-header-primar text-center" style=" background-color: #f44336 !important">
                <h4 class="card-title" >Register On CLICK AGENCY</h4>
              </div>
              <div class="card-body ">
                <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons"> face</i>
                        </span>
                      </div>
                      <input type="text" [(ngModel)]="username" class="form-control" placeholder="Enter Username">
                    </div>
                  </span>
                  <br>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" [(ngModel)]="email" placeholder="test@gmail.com">
                  </div>
                </span>
                <br>
              
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password...">
                  </div>
                </span>
                <br>
                <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>
                      <input type="password" [(ngModel)]="cpassword" class="form-control" placeholder="Confirm Password...">
                    </div>
                </span>
                 <br>
              </div>
              <div class="card-footer justify-content-center">
                <a (click)="register()" class="btn btn-rose btn-link btn-lg">Lets Go</a>
              </div>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>
</div>